name: CI

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      # https://github.com/marcellodesales/cloner/packages?package_type=Docker
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build docker images
        run: docker-compose build

      - name: System info
        run: docker run mnetools/mne-python python -c "import mne; mne.sys_info()"

      - name: Run visualisation test
        run: docker run -v `pwd`/base/examples:/opt/app/examples mnetools/mne-python-viz python /opt/app/examples/test_mne_report.py
